<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://amitsaran.github.io"> Amit Saran
      <!--<img class="rounded z-depth-2 logo" src="assets/img/profile.jpeg"></img>-->
    </a>
    <a href="{{site.github.repository_url}}/" class="view-on-github-btn d-block d-md-none">View on GitHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-fixed-top" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://amitsaran.github.io/#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://amitsaran.github.io/#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://amitsaran.github.io/#technology">Technology</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="https://amitsaran.github.io/#contact">Contact</a>
        </li>
        <li class="view-on-github-btn-li">
          <a href="{{site.github.repository_url}}/" class="view-on-github-btn d-none d-md-block">View on GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>