<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://amitsaran.github.io/#home"> Amit Saran
    <!--<img class="rounded z-depth-2 logo" src="assets/img/profile.jpeg"></img>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-fixed-top" id="navbarResponsive">
    <ul class="navbar-nav ml-auto list-unstyled">
        <li class="nav-item">
        <a class="nav-link" href="https://amitsaran.github.io/#home">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://amitsaran.github.io/#about">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://amitsaran.github.io/#technology">Technology</a>
        </li>          
        <li class="nav-item">
        <a class="nav-link" href="https://amitsaran.github.io/#contact">Contact</a>
        </li>
    </ul>
    </div>
  </div>
</nav>