---
---

@import "jekyll-theme-tactile";

/*--------------------------------------------------------------
# Navbar - 
--------------------------------------------------------------*/
.navbar-brand {
  padding-left: 15px;
}

.navbar {
  padding: 0px;
  background-color: #fff;
}

.nav-item {
  font-size: 14px;
  padding: 4px;
  padding-right: 12px;
  list-style: none;
}
  
.navbar-light .navbar-nav .nav-link { 
  display: block;
  position: relative;
  color:  #545454;
  transition: 0.3s;
}
  
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav li:hover > .nav-link{
  color: #e96b56;
  text-decoration: none;
}

/*--------------------------------------------------------------
# View on GitHub 
----------------------------------------------------------------*/
.view-on-github-btn {
  margin-left: 15px;
  background: #545454;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px 4px 10px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 13px;
  display: inline-block;
  border: 2px solid #cdd1d9;
}

.view-on-github-btn:hover {
  background: #e96b56;
  color: #fff;
  border-color: #545454;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Page Link
----------------------------------------------------------------*/

.page-links a {
  color: #e96b56;
  font-size: 12px;
  padding-left: 10px;
}

.page-links a:first-child {
  padding-left: 0;
}

.page-links a:hover {
  color: #545454;
  font-size: 12px;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Footer
----------------------------------------------------------------*/
#footer {
  background:  #545454;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 3px 0;
  font-size: 12px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 0px;
  color: #222222;
}

#footer .footer-links a {
  color: white;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #e96b56;
  text-decoration: none;
}
